@{
    Layout = null; // Eliminamos el layout para esta vista específica
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CaIN - Authentication</title>
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="overlay">
        <div class="popup-container">
            <main>
                <div class="form-container">

                    <div id="resetPassForm" class="form active">
                        <h1>Reset Password</h1>
                        <p class="subtitle">Please enter your new password</p>

                        <form id="newPasswordForm">
                            <input type="hidden" id="email" value="@Model.Email" />
                            <input type="hidden" id="token" value="@Model.Token" />
                            <div class="input-group">
                                <img src="https://api.iconify.design/mdi:lock-outline.svg" alt="Password" class="input-icon">
                                <input type="password" id="newPassword" placeholder="Nueva contraseña" required>
                            </div>

                            <div class="input-group">
                                <img src="https://api.iconify.design/mdi:lock-outline.svg" alt="Password" class="input-icon">
                                <input type="password" id="confirmPassword" placeholder="Confirmar contraseña" required>
                            </div>

                            <button type="submit" class="signup-btn">Confirmar Cambio</button>
                        </form>

                    </div>
                </div>
            </main>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/just-validate@4.2.0/dist/just-validate.production.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/reset-password.js"></script>
</body>
</html>